{% extends "base.html.twig" %}

{% block title %}Projets{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Nos Projets</h1>
        <p>Bienvenue sur notre site !</p>
    </div>
{% endblock %}