{% extends "base.html.twig" %}

{% block title %}Envoyer un nouveau message{% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Nouveau message</h1>

        {{ form_start(form) }}
        {{ form_rest(form) }}
        <div class="col-4">
            <button class="btn btn-primary">Créer</button>
            <a href="{{ path('message_index') }}" class="btn btn-secondary">Retour</a>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}