{% extends 'base.html.twig' %}

{% block title 'Mot de passe oublié' %}

{% block body %}
    <div class="container mt-4">
        <h1>Mot de passe oublié</h1>

        <form action="{{ path('forgottenPassword') }}" method="post">

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-control" required autofocus/>
            </div>

            <button type="submit" class="btn btn-primary">Envoyer</button>

        </form>
    </div>

{%  endblock %}