{% extends 'base.html.twig' %}

{% block title 'Modifié le mot de passe' %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier votre mot de passe</h1>

        <form action="{{ path('resetPassword', {'token': token}) }}" method="post">

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" class="form-control" required />
                <input type="hidden" name="token" value="{token}">
            </div>

            <button type="submit" class="btn btn-primary">Se connecter</button>

        </form>
    </div>

{%  endblock %}