{% extends "base.html.twig" %}

{% block title %}Perhaps{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Perhaps</h1>
        <h2>Trouvez un freelance qualifié et disponible !</h2>
        <p>Bienvenue sur notre site ! Inscrivez-vous et déposez gratuitement vos projets !</p><br>
        <p>La plateforme de mise en relation entre les Freelances et les Porteurs de Projets !</p>
    </div>

    <div class="container">
        <h2>Les derniers Projets</h2>
        <div class="row flex">
            {% for projet in projets %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ path('projet_show', {id: projet.id, slug: projet.slug}) }}">{{ projet.nomProjet }}</a>
                            </h5>
                            <p class="card-text">
                                {{ projet.descriptionProjet }}
                            </p>
                            <div class="text-primary">
                                {{ projet.budget | number_format(0, '', ' ') }} €
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}