{% extends "base.html.twig" %}

{% block title %} {% endblock %}

{% block body %}

    <div class="container mt-4">
        <h1>Éditer le projet</h1>

        {{ form_start(form) }}
            {{ form_rest(form) }}
        <button class="btn btn-primary">Sauvegarder</button>
        {{ form_end(form) }}
    </div>

    {% include "modals/user_notation.html.twig" with
        {
            modal: { id: "modal_gst-reserve_comment-edit", title: "Modifier un suivi commande" }
        }
    %}

{% endblock %}