small-icon* {-moz-box-sizing: border-box; box-sizing: border-box;}

html {
    height: 100%;
}

body {
    background-color: lightgray;
    margin: 0;
    padding-bottom: 17em;
    min-height: 100%;
    position: relative;
}

#page1cont, #page1cont2 {
    margin-top: 20px;
}

#page1cont h2, #page1cont2 h2 {
    font-family: 'Ubuntu', sans-serif;
}

#page1cont2 h5 {
    font-family: 'Cubin', sans-serif;
}

#logo{
    height: 60px;
}

.card .card-shad {
    box-shadow: 8px 8px 12px #aaa;
}

#jamb{
    background-color: transparent!important;
    color: #FFFFFF;
}

#jamb h1 {
    line-height: 300%;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

#footer{
    /*margin-top: 20px;*/
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}

#trophy{
    height: 50px;
}

#h3{
    margin-top: auto;
    padding-left: 20px;
}

#team {
    /*background: #eee !important;*/
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    box-shadow: 8px 8px 12px #aaa;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
#cardprj{
    position: relative;
    margin-bottom: 15px !important;
}
.carousel-item{
    height:70vh;
}

.d-block{
    height:100%;
    width: 100%;
}

.freelancerField {
    /*display: none;*/
}

#profilimage{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

#nomprofil{
    margin-left: 80px;
    margin-bottom: 30px;
    margin-top: -30px;
}

#imagecard{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#postuler_projet_descriptionDevis {
    height: 180px;
}

.containerProj{
    position: relative;
}

.containerButton{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}

div#home-div-values.jumbotron {
    background-color: #4d6de6 !important;
    border-radius: 0px !important;
    color: #FFFFFF;
}

div#home-div-values h1 {
    font-size: 3em;
    font-family: 'Ubuntu', sans-serif;
}

#home-div-values-2 div {
    font-size: 1.2em;
    font-family: 'Cabin', sans-serif;
}

#home-div-values-3 {
    margin-bottom: -7%;
}

#home-div-values-3 a {
    height: 70%;
    width: 150%;
    padding-top: 5px;
    padding-bottom: 15px;
}

#home-div-values-3 .community {
    margin-left: -5%;
}

#cardprj .card-body .created p{
    font-size: 0.7rem;
}

#page1cont #cardprj .card-body .small-icon img, .pageProjContainer #cardprj .card-body .small-icon img{
    height: 8%;
    width: 8%;
}

.container-price {
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}