{% extends 'base.html.twig' %}

{% block title %} Freelancers{% endblock %}

{% block body %}

    <div class="container">


    </div>

    <div class="container">
        <h2>La liste des freelancers</h2>
        <div class="row flex">

                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">

                            </h5>
                            <p class="card-text">

                            </p>
                            <div class="text-primary">

                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </div>



{% endblock %}
